@media (min-width: 900px) {
  .parallax-window {
    width: 60%;
  }

    /*fontsize nav*/
  .menu-overlay-block ul a {
    font-size: 5.5em;
  }
  .menu-other-links a {
    font-size: 1.5em;
  }

  .search-input{
    font-size: 1.5em;
  }

  nav {
    height: 100%;
    width: 60px;
  }

  .nav-bar {
    flex-direction: column;
    position: relative;
    background-color: rgba(23, 22, 27, 0.71);
  }

  .nav-title-container {
    display: flex;
    flex-direction: column;
  }

  .nav-title {
    transform: rotateZ(-90deg);
    display: flex;
    justify-content: center;
    width: 200px;
    position: absolute;
    left: -95px;
    font-size: 0.8em;
  }

  .nav-subtitle {
    transform: rotateZ(-90deg);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 200px;
    position: absolute;
    left: -83px;
    font-size: 0.5em;
  }

  .search-nav svg {
    width: 35px;
    height: 35px;
  }
  .search-button {
    width: 35px;
    height: 35px;
    right: 35px;
}

  /*Carousel*/
  .carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 55px;
  }

  /*Content*/
  .paragraph{
    margin: 0 auto 50px 10%;
  }

  .rule-bl{
    margin: 0 auto 30px 5%;
  }

  .future-project{
    margin: 0 auto 50px 5%;
  }

  .stats{
    margin: 200px auto 30px 5%;
  }

  .content-motivation{
    margin: 70px auto 0 5%;
  }

  .capture-block{
    left: 12%;
  }

  /*Footer*/
  footer{
    flex-direction: column;
    align-items: center;
    min-height: 250px;
  }

  .info{
    flex-direction: row;
    height: 200px;
    width: 80%;
    justify-content: space-between;
  }

  .wrap{
    display: flex;
    align-items: center;
  }

  .logo{
    margin-right: 5%;
  }

  .border-l{
    width: 230px;
  }




}
